
.main {
    background-color: white;
    color: #0d1f2d;
    font-family: 'Montserrat', sans-serif;
    margin-left: 200px;
    margin-right: 200px;
    background-image: linear-gradient(45deg, white, #2c514c);
    background-size: 300%;
}

.banner {
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: #2c514c;
    color: white;
    border-radius: 25px;
    display: flex;
    flex: 2;
    flex-direction: row;
    padding-left: 25px;
    padding-right: 25px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 10px;
    left: 200px;
    right: 200px;
}

.name {
    font-size: 25px;
    font-weight:800;
}

.nav {
    display: flex;
    flex: 5;
    flex-direction: row;
    justify-content: right;
    column-gap: 40px;
    font-size: 20px;
    align-items: center;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
}

.bio {
    font-weight: 400;
    font-size: 12px;
}

.subtitles {
    font-size: 40px;
    font-weight:800;
    color: #2c514c;
    text-decoration: underline;
    margin-top: 100px;
}

.project-types {
    border-radius: 8px;
    background-color: white;
    font-weight: 600;
    padding: 2px, 2px, 2px, 2px;
}

.introduction {
    display: flex;
    flex-direction: row;
    flex: 2;
    column-gap: 40px;
    justify-content: center;
    margin-top:225px;
}

.profile {
    height: 300px;
    width: auto;
    border-radius: 50px;
}

.about-me {
    display: flex;
    flex-direction: column;
    flex: 3;
    justify-content: top;
    font-size: 16px;
    font-weight: 500;
}

.greeting {
    font-size: 55px;
    font-weight:600;
    letter-spacing: 5px;
    font-weight:800;
    margin-bottom: 0px;
    margin-top:0px;
    align-self: center;
}

.experience {
    display: flex;
    flex-direction: row; 
    flex: 2;
    justify-content: top;
    column-gap: 25px;
    margin-bottom: 50px;
}

.company-logos {
    height: 75px;
    width: 75px;
    background-color: white;
    border-radius: 10px;
}

.description {
    display: flex;
    flex-direction: column;
    flex: 4;
}

.company-name{
    font-size: 30px;
    font-weight: 800;
    margin-top: 0px;
    margin-bottom: 0px;
}

.position-title {
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 0px;
}

.work-dates {
    font-weight: 600;
    margin-top:10px;
    margin-bottom: 0px;
}

.experience-content {
    margin-top: 0px;
    margin-bottom:0px;

}

.experience-bullet {
    margin-top: 8px;
    margin-bottom: 0px;
    line-height: 150%;
}

.projects-section {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    scrollbar-width: none;
    column-gap: 25px;
}

.projects-section::-webkit-scrollbar {
    display: none;
  }
 

.project {
    background-color: #2c514c;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around, top;
    color: white;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-bottom: 15px;

}

.project-preview {
    height: 300px;
    width: 500px;
    border-radius: 25px 25px 0px 0px;
}

.project-description {
    margin-left: 25px;
    font-size: 18px;
}

.project-name {
    align-items: start;
    font-size: 25px;
    font-weight: 800;
}

.project-tool {
    border: 2px solid white;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    display: inline;
    margin-right: 10px;
}

.contact-section {
    font-size: 60px;
    font-weight:800;
    color: #2c514c;
    margin-top: 200px;
    text-align: center;
    margin-bottom: 50px;
}

.connect {
    margin-bottom: 25px;
}

.social-link {
    margin-top: 0px;
    padding-top: 0px;
    color:#0d1f2d;
    text-decoration: underline;
    padding-left: 5px;
    padding-right: 5px;
}

.spacer {
    margin-top: 100px;
    visibility: hidden;
}